//http://paletton.com/#uid=32i0u0kg0pj6rESb2umkFkzpWfy
$primary : #A3BE5F;
$secondary1 : #C3616B;
$secondary2 : #6D4887;

$primaryShade1 : #7E9A37;
$primaryShade2 : #597516;
$primaryTint1: #CDE495;
$primaryTint2: #E7F5C4;

$secondary1Shade1 : #9E3842;
$secondary1Shade2 : #781720;
$secondary1Tint1 : #EA99A1;
$secondary1Tint2: #F9C7CC;

$secondary2Shade1 : #522B6E;
$secondary2Shade2 : #522B6E;
$secondary2Tint1 : #8C6EA2;
$secondary2Tint2: #B5A0C5;


$white : #FCFDF7;
$black : #1d1d1d;
$background: $white;
$cwp_green: $primary;
