//footer
.footer.section.bg-dark {
  padding: 0;
}

ul#footer-menu {
  li {
    display: inline;
    text-align: center;
    margin: 8px;
    @media (max-width: 600px) {
      display: block;
    }
  }
}

#footer-menu-wrap {
  margin: 0 auto;
  text-align: center;
  display: table;
  padding-top: 16px;
}

.footer-inner.section-inner {
  margin-bottom: 18px;
}

.credits-inner.section-inner {
  color: $white;
  a {
    color: $primaryShade1;
    &:hover { color: $primaryTint1; }
  }
}
