.product-preview{
  border: 1px solid $secondary1Tint2;
  height: 380px;
  overflow: hidden;

  img {
    width: 100%;

  }
  h5 {
    text-align: center;
    margin-bottom: 1em;
  }

  .product-tagline {
    padding: 4px;
  }
  


}
